---
export interface Props {
  title: string;
  checkAllLink: {
    href: string;
    text: string;
  };
  lang: SupportedLanguages;
  posts: PostBasicProps[];
}

import type { SupportedLanguages } from '@/infrastructure/config/types/language';
import { ArrowRightIcon } from 'lucide-svelte';
import PostBasic, { type Props as PostBasicProps } from '@/ui/PostBasic.astro';

const { title, checkAllLink, posts } = Astro.props;
---

<section class="mb-6 col-span-full">
  <h2 class="mb-4 font-sans text-lg font-extrabold lg:text-xl lg:mb-6">
    {title}
  </h2>
  <ul class="grid grid-cols-1 gap-6 ipad-pro:grid-cols-2">
    {
      posts.map((post) => {
        return (
          <li>
            <PostBasic
              class="p-6 transition-all bg-white rounded-sm shadow dark:bg-blue-800 hover:shadow-lg dark:hover:bg-blue-700"
              titleClassName="text-xl"
              {...post}
            />
          </li>
        );
      })
    }
  </ul>
  <a
    href={checkAllLink.href}
    class="inline-flex mt-6 text-lg underline cursor-pointer text-secondary items-center"
    data-astro-prefetch
  >
    {checkAllLink.text}
    <ArrowRightIcon class="w-6 ml-2" stroke="1.5" />
  </a>
</section>
