---
interface Props {
  lang: string;
}

import Layout from '../../layouts/Layout.astro';
import AuthorPresentation from '@/ui/screens/home/AuthorPresentation.astro';

const { locale } = Astro.params;
---

<Layout title="Home page" lang={locale || 'en'}>
  <h1>Hello, Language "{locale}"</h1>
  <AuthorPresentation />
</Layout>
