## General
**/.cache
**/public
.history

build

# CMS
apps/cms/api/**/*.json
apps/cms/extensions/**/*.json
apps/cms/config/**/*.json
apps/cms/components/**/*.json
apps/cms/exports/graphql/schema.graphql

## PNPM
pnpm-lock.yaml