.heading {
  @apply relative table;

  --icon-visible: hidden;

  &:hover {
    --icon-visible: unset;
  }

  :global {
    .copy-title-icon {
      @apply absolute -right-1;

      transform: translate(100%, 50%);

      :global {
        .icon-link {
          @apply block bg-secondary;
          width: 0.7em;
          height: 0.7em;
          mask: url(/icons/anchor.svg) no-repeat;
          transition: visibility 0.2s ease-in-out;
          visibility: var(--icon-visible);
        }
      }
    }
  }
}
