.search__refinementWrapper:not(:last-child) {
  @apply mr-6;
}

.search__checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.search__poweredBy {
  @apply relative items-center font-sans text-base font-medium col-span-full;
}

.search__poweredBy a {
  @apply absolute right-0 inline-flex items-center justify-end;
}

.ais-SearchBox-form {
  @apply flex;
}

.ais-SearchBox-input.ais-SearchBox-input {
  @apply w-full py-1 pb-3 text-3xl font-light bg-transparent border-b  md:text-4xl dark:border-gray-700 focus:border-0;
}

.ais-SearchBox-submit {
  @apply hidden;
}

.ais-SearchBox-reset {
  @apply p-5 text-base;
  fill: currentColor;
}

.ais-Stats {
  @apply mt-3 mb-6 text-base font-bold;
}

/* Algolia already provides this mechanisms */
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  @apply hidden w-0 h-0;
}

/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  @apply hidden;
}

.ais-SearchBox-form input {
  @apply text-xl md:text-3xl;
  /* disable IOS native input styles */
  /* https://stackoverflow.com/a/2918716 */
  @apply rounded-none;
  -webkit-appearance: none;
}

.ais-Hits-list {
  @apply space-y-8;
}

.ais-PoweredBy {
  @apply flex items-center justify-end font-sans text-base font-medium col-span-full;

  span {
    @apply mr-2;
  }
}
