.ais-SearchBox-form {
  @apply flex;
}

.ais-SearchBox-input {
  @apply bg-transparent;
  @apply w-full;
  @apply text-3xl font-light md:text-4xl;
  @apply border-b dark:border-gray-700;
  @apply pb-3 py-1;
  @apply focus:outline-black dark:focus:outline-white focus:border-0;
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  @apply text-base;
  @apply p-5;
  fill: currentColor;
}

.ais-Stats {
  @apply text-base font-bold;
  @apply mb-6 mt-3;
}

/* Algolia already provides this mechanisms */
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
