---
import type { QueryPostBySlugReturnType } from '@/infrastructure/api/modules/posts';

type Props = Pick<NonNullable<QueryPostBySlugReturnType>, `title`> & {
  publishedDateLabel?: string;
  readingTimeLabel?: string;
  subtitle?: string;
};

const { title, subtitle, publishedDateLabel, readingTimeLabel } = Astro.props;
---

<header class="mb-6 border-b">
  <h1 class="text-xl font-black tracking-tight sm:text-2xl lg:text-3xl">
    {title}
  </h1>
  {
    subtitle && (
      <p class="mt-2 text-lg font-medium tracking-tight sm:text-xl lg:text-2xl opacity-80">
        {subtitle}
      </p>
    )
  }
  {
    publishedDateLabel || readingTimeLabel ? (
      <p class="mt-6 mb-4 text-base text-right lg:text-md">
        {`${publishedDateLabel}${readingTimeLabel}`}
      </p>
    ) : null
  }
</header>
