---
import qs from 'query-string';

import LinkedinLogo from '@/ui/Icons/LinkedinIcon.svelte';
import XLogo from '@/ui/Icons/XLogo.svelte';

type Props = {
  titleLabel: string;
  linkedIn: {
    title: string;
    summary?: string;
  };
  twitter: {
    text: string;
  };
};

const { linkedIn, twitter, titleLabel } = Astro.props;

const linkIdUrl = `https://www.linkedin.com/shareArticle?${qs.stringify(
  { url: Astro.request.url, ...linkedIn },
  { encode: true, strict: true },
)}`;

const twitterUrl = `https://twitter.com/share?${qs.stringify(
  {
    url: Astro.request.url,
    via: `raul_fdm`,
    ...twitter,
  },
  { encode: true, strict: true },
)}`;
---

<div>
  <span class="block mb-4 font-extrabold text-md md:text-lg lg:text-xl md:mb-6">
    {titleLabel}
  </span>
  <ul class="flex space-x-4 text-secondary">
    <li class="w-6 md:w-8">
      <!-- TODO: localize the title -->
      <a
        href={linkIdUrl}
        title="Share on LinkedIn"
        target="_blank"
        rel="noopener"
      >
        <LinkedinLogo class="w-full h-full" stroke="1.5" />
      </a>
    </li>

    <li class="w-6 md:w-8">
      <!-- TODO: localize the title -->
      <a
        href={twitterUrl}
        title="Share on Twitter"
        target="_blank"
        rel="noopener"
      >
        <XLogo class="w-full h-full" stroke="1.5" />
      </a>
    </li>
  </ul>
</div>
