@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    min-width: 0;
  }

  html {
    @apply font-sans;
    @apply text-primary;
    @apply h-full;

    --color-black: #2c2c2c;
    --color-primary: var(--color-black);
    --color-secondary: #be185d;

    --color-theme-light-primary: rgb(255, 255, 255);
    --color-theme-dark-primary: rgb(15, 23, 42);
    --color-theme-dark-secondary: rgba(30, 41, 59, 1);

    --top-menu-height: 4rem;
  }

  html.dark {
    --color-primary: #ffffff;
    --color-secondary: #c0ed40;

    background-color: var(--color-theme-dark-primary);
  }

  body {
    @apply antialiased;
  }

  .prose-container :where(strong):not(:where([class~='not-prose'] *)) {
    @apply text-primary font-bold !important;
  }

  .prose-container blockquote {
    @apply text-primary;
  }

  .prose-container code a {
    @apply text-secondary;
  }

  *:focus {
    @apply focus:outline-black dark:focus:outline-white outline-dotted outline-2;
  }
}

@layer components {
  .grid-container {
    @apply w-full;
    @apply grid-cols-4;
    @apply px-4;
    @apply gap-4;
    @apply grid;
    @apply mx-auto;

    @apply md:max-w-5xl;
    @apply md:grid-cols-6;

    @apply lg:max-w-7xl;
    @apply lg:grid-cols-12;
  }

  .prose-container {
    @apply prose dark:prose-dark;
    @apply prose-lg md:prose-xl;
    @apply max-w-full;

    :global(a code) {
      /* Tailwind Typography + Tailwind 2 has a problem with specificity */
      /* Applying this style does not gain precedence enough to override Prose styles */
      /* So I have to set it manually. Let's see on Tailwind v3 */
      /* @apply dark:text-secondary !important; */
      color: var(--color-secondary);
    }
  }
}