---
type Props = {
  node: {
    children: { text: string }[];
  };
};

const [child] = Astro.props.node.children;
---

<span class="font-bold text-secondary font-code whitespace-pre-line higlight">
  {child.text}
</span>

<style>
  .highlight::before,
  .highlight::after {
    content: '`';
  }
</style>
