---
import '../styles/global.css';
import Footer from '../components/footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body
    class="page-y-offset pb-[var(--sm-page-offset)] md:pb-[var(--md-page-offset)]"
  >
    <slot />
    <Footer />
  </body>
</html>
