---
import Layout from '@/ui/layouts/Layout.astro';
import PostLayout from '@/ui/layouts/PostLayout.astro';
---

<PostLayout>
  <>
    <h1>Code snippet FOO</h1>
    <p>Code snippet BAR</p>
  </>
</PostLayout>
