.title.svelte-10oo0e8 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}
.clockWrapper.svelte-5g55m {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.info.svelte-5g55m > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
h3.svelte-5g55m {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
span.svelte-5g55m {
  margin-bottom: 0.5rem;
  display: block;
  text-align: center;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  font-variant-numeric: tabular-nums;
}
.actions.svelte-5g55m {
  margin-top: 3.5rem;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
}
.action.svelte-5g55m {
  --tw-text-opacity: 1;
  color: rgba(96, 165, 250, var(--tw-text-opacity));
  justify-self: center;
}
.action.svelte-5g55m:disabled {
  opacity: 0.5;
}
.start.svelte-5g55m {
  --tw-text-opacity: 1;
  color: rgba(219, 39, 119, var(--tw-text-opacity));
}
.resetWrapper.svelte-5g55m {
  margin-top: 3rem;
  display: grid;
  place-items: center;
}
.reset.svelte-5g55m {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}
.reset.svelte-5g55m:disabled {
  opacity: 0.5;
}
fieldset.svelte-v4y26p {
  margin-bottom: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  place-items: baseline;
}
label.svelte-v4y26p {
  grid-column: span 2 / span 2;
  font-weight: 700;
}
input.svelte-v4y26p {
  grid-column: span 4 / span 4;
}
input.svelte-v4y26p {
  background-color: transparent;
  padding: 0.25rem;
}
input[type='number'].svelte-v4y26p {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}
.resultTitle.svelte-v4y26p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}
table.svelte-v4y26p {
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}
td.svelte-v4y26p {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(107, 114, 128, var(--tw-border-opacity));
  text-align: center;
}
.overlay.svelte-jck1c0 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #000000b3;
}
.wrapper.svelte-jck1c0 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.closeButton.svelte-jck1c0 {
  position: absolute;
  top: -2rem;
  padding: 0.5rem 1rem;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(219, 39, 119, var(--tw-text-opacity));
  right: calc(50% - 38px);
}
.tabs.svelte-jck1c0 {
  display: flex;
  flex-direction: row;
  margin: -0.5rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  border-top-width: 1px;
  scrollbar-width: none;
  z-index: 10;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.tabs.svelte-jck1c0::-webkit-scrollbar {
  display: none;
}
.tab.svelte-jck1c0 {
  flex: 1 1 0%;
  text-align: center;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  padding: 0.25rem;
  min-width: 120px;
}
.tabActive.svelte-jck1c0 {
  border-top-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(219, 39, 119, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(219, 39, 119, var(--tw-text-opacity));
}
.tabContent.svelte-jck1c0 {
  flex: 1 1 0%;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.title.svelte-o5zz3q {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}
.subtitle.svelte-o5zz3q {
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: italic;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}
