## Folders
.cache
.dependabot
.git
.history
build
node_modules


## Files
.dockerignore
.env
.env.example
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc.json
docker-compose.yml
Dockerfile
Procfile