---
import { type SupportedLanguages } from '@raulmelo/core/config';
import { queryPosts } from '@raulmelo/core/domains';

import { languageGetStaticPaths } from '@/infrastructure/getStaticPaths';
import { getIntl } from '@/infrastructure/i18n/getServerSideLocales.server';
import { sanityClient } from '@/infrastructure/sanity/client';
import { getHomePageUrl } from '@/infrastructure/utils/url';
import { Breadcrumbs } from '@/ui/Breadcrumbs';
import Layout from '@/ui/layouts/Layout.astro';

import Posts from './_ui/Posts.svelte';

export const prerender = true;
export const getStaticPaths = languageGetStaticPaths;

const { lang } = Astro.params as { lang: SupportedLanguages };

const posts = await queryPosts({
  language: lang,
  client: sanityClient,
});

const intl = getIntl(lang);
---

<Layout title="Blog">
  <Breadcrumbs
    class="col-span-full lg:col-span-10"
    crumbs={[
      {
        label: intl.formatMessage({ id: `sideMenu.home` }),
        href: getHomePageUrl(lang),
      },
      {
        label: intl.formatMessage({ id: `sideMenu.blog` }),
      },
    ]}
  />

  <header class="col-span-full lg:col-span-10">
    <h1 class="text-3xl font-extrabold md:text-4xl">Blog</h1>

    <p class="my-4 col-span-full lg:col-span-10 text-md md:text-lg">
      {intl.formatMessage({ id: `blog.description` })}
    </p>
  </header>

  <Posts client:load lang={lang} posts={posts} />
</Layout>
