---
import { domains, utils, SupportedLanguages } from '@raulmelo/core';
import { getIntl } from '@/infrastructure/i18n/getServerSideLocales.server';
import { ProseContainer } from '@raulmelo/ui';

import PostHeading from '@/ui/screens/blog/PostHeading.astro';
import ShareContent from '@/ui/ShareContent.astro';
import PortableText from '@/ui/PortableText/PortableText.astro';
import PostLayout from '@/ui/layouts/PostLayout.astro';

const { lang } = Astro.params as {
  slug: string;
  lang: SupportedLanguages;
};

const uses = await domains.uses.getUses(lang as SupportedLanguages);

if (utils.isNil(uses) || utils.isEmpty(uses)) {
  return Astro.redirect('/404');
}

const intl = getIntl(lang);
---

<PostLayout
  title={uses.title}
  seo={{
    title: uses.seo.title,
    description: `${uses.seo.description}`,
    article: {
      modifiedTime: uses._updatedAt,
      publishedTime: uses._createdAt,
      tags: [],
    },
  }}
>
  <section class="w-full col-span-full lg:col-start-2 lg:col-end-12">
    <PostHeading title={uses.title} />

    <ProseContainer class="mt-8">
      <PortableText value={uses.content} />
    </ProseContainer>

    <hr class="mt-10 mb-6" />

    <footer class="flex flex-wrap justify-between">
      <ShareContent
        titleLabel={intl.formatMessage({ id: 'blogPost.share' })}
        twitter={{ text: uses.seo.description }}
        linkedIn={{ title: uses.seo.title, summary: uses.seo.description }}
      />
    </footer>
  </section>
</PostLayout>
