---
import { type SupportedLanguages } from '@raulmelo/core/config';
import { getUses } from '@raulmelo/core/domains';
import { isEmpty, isNil } from '@raulmelo/core/utils';
import { ProseContainer } from '@raulmelo/ui';

import { languageGetStaticPaths } from '@/infrastructure/getStaticPaths';
import { getIntl } from '@/infrastructure/i18n/getServerSideLocales.server';
import PostLayout from '@/ui/layouts/PostLayout.astro';
import PortableText from '@/ui/PortableText/PortableText.astro';
import PostHeading from '@/ui/PostHeading.astro';
import { ShareContent } from '@/ui/ShareContent';

export const prerender = true;
export const getStaticPaths = languageGetStaticPaths;

const { lang } = Astro.params as {
  slug: string;
  lang: SupportedLanguages;
};

const uses = await getUses(lang as SupportedLanguages);

if (isNil(uses) || isEmpty(uses)) {
  return Astro.redirect(`/404`);
}

const intl = getIntl(lang);
---

<PostLayout
  title={uses.title}
  seo={{
    title: uses.seo.title,
    description: `${uses.seo.description}`,
    article: {
      modifiedTime: uses._updatedAt,
      publishedTime: uses._createdAt,
      tags: [],
    },
  }}
>
  <section class="w-full col-span-full lg:col-start-2 lg:col-end-12">
    <PostHeading title={uses.title} />

    <ProseContainer class="mt-8">
      <PortableText value={uses.content} />
    </ProseContainer>

    <hr class="mt-10 mb-6" />

    <footer class="flex flex-wrap justify-between">
      <ShareContent
        titleLabel={intl.formatMessage({ id: `blogPost.share` })}
        twitter={{ text: uses.seo.description }}
        linkedIn={{ title: uses.seo.title, summary: uses.seo.description }}
      />
    </footer>
  </section>
</PostLayout>
