.divider {
  @apply flex justify-center space-x-3;
}

.dot {
  @apply rounded-full;

  --hr-color: var(--color-secondary);
  background-color: var(--hr-color);

  /* IE and Legacy Edge */
  @media screen and (-ms-high-contrast: active) {
    --hr-color: windowText;
  }
  /* Using the new standards for forced colors, currently supported in Chromium Edge */
  @media screen and (forced-colors: active) {
    --hr-color: CanvasText;
  }

  /* For all variants, we need this: */
  & + * {
    margin-top: 0;
  }
}
