node_modules

.cache
.env
.vercel
.output

/build/
/public/build
/api/index.js
/api/index.js.map

# MISC.
app/styles/app.css
public/rss*.xml
public/sitemap*.xml

## These are auto gen on post build
public/sitemap.xml
public/robots.txt
site-data.json
