---
import { getIntl } from '@/infrastructure/i18n/getServerSideLocales.server';
import { domains, SupportedLanguages } from '@raulmelo/core';

import Layout from '@/ui/layouts/Layout.astro';
import classNames from 'classnames';
import { Tils } from '@/ui/screens/tils/Tils';

export const prerender = true;

const { lang } = Astro.params as { lang: SupportedLanguages };

const tils = await domains.posts.queryTils(lang as SupportedLanguages);

const intl = getIntl(lang);

const baseColClass = 'col-span-full lg:col-span-10';
---

<Layout title={intl.formatMessage({ id: 'tilHome.title' })}>
  <header class={baseColClass}>
    <h1 class="text-3xl font-extrabold md:text-4xl">
      {intl.formatMessage({ id: 'tilHome.title' })}
    </h1>
    <p class="text-lg italic md:text-xl text-opacity-80">
      {intl.formatMessage({ id: 'tilHome.subtitle' })}
    </p>
  </header>

  <p class={classNames([baseColClass, 'my-4 text-md md:text-lg'])}>
    {intl.formatMessage({ id: 'tilHome.description' })}
  </p>

  <section class={classNames([baseColClass, 'mt-5'])}>
    {
      tils.length > 0 ? (
        <Tils client:load tils={tils} lang={lang} />
      ) : (
        <p class="text-lg">{intl.formatMessage({ id: 'tilHome.noTil' })}</p>
      )
    }
  </section>
</Layout>
