/* Regular Characters */
@font-face {
  font-family: 'content-title';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/fell-400-normal-latin.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D,
    U+2022, U+2026;
}

/* Special Characters */
@font-face {
  font-family: 'content-title';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/fell-400-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B,
    U+201E-2021, U+2023-2025, U+2027-10FFFF;
}
