---
import { Page } from './_Page';
---

<!DOCTYPE html>
<html>
  <body>
    <Page client:only="react" />
  </body>
</html>

<style is:global>
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
  }
</style>
