body {
  @apply min-h-screen;
  @apply bg-white dark:bg-blue-900;
  @apply text-primary;
  @apply transition-all duration-200 ease-in-out;
  @apply relative;
  @apply pb-12 md:pb-16;
}

#__nuxt,
#__layout {
  @apply min-h-screen;
}
