@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

.grid-container {
  @apply w-full;
  @apply grid-cols-4;
  @apply px-4;
  @apply gap-4;
  @apply grid;
  @apply mx-auto;

  @apply md:max-w-5xl;
  @apply md:grid-cols-6;

  @apply lg:max-w-7xl;
  @apply lg:grid-cols-12;
}
