---
export interface Props {
  title: string;
  lang: SupportedLanguages;
}

import '@raulmelo/ui/styles/prism.css';
import '@raulmelo/ui/styles/style.css';
import '@raulmelo/styles/lib/styles.css';

import MenuBar from '@/ui/MenuBar.astro';
import type { SupportedLanguages } from '@raulmelo/core';

const { title, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="true"
    />
    {/* Proxima Nova Font */}
    <link rel="stylesheet" href="https://use.typekit.net/rsd6fwc.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <script>
      (function themeHandler() {
        if (
          window.__theme === 'dark' ||
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark');
          window.__theme = 'dark';
        } else {
          document.documentElement.classList.remove('dark');
          window.__theme = 'light';
        }
      })();
    </script>
  </head>
  <body
    class="relative min-h-screen pb-12 duration-200 bg-white dark:bg-blue-900 text-primary transition-theme ease md:pb-16"
  >
    <MenuBar lang={lang} />
    <main class="grid-container">
      <slot />
    </main>
  </body>
</html>
