name: CMS deploy

on:
  push:
    paths:
      - 'apps/cms/**'
      - 'config/**'
      - '.github/workflows/cms-deploy.yml'
      - package.json

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - uses: pnpm/action-setup@v2.2.1
        with:
          version: latest

      - name: Install deps
        run: pnpm i --frozen-lock -F cms...

      - run: pnpm run build --filter cms... --stream

      - name: Deploy
        run: pnpm run deploy --filter cms
        if: contains('refs/heads/main', github.ref)
        env:
          SANITY_AUTH_TOKEN: ${{secrets.SANITY_AUTH_TOKEN}}
