name: Deployment
on:
  push:
    branches:
      - main
      - docker-go

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

permissions: "write-all"

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production
      IMAGE_NAME: ghcr.io/${{ github.repository }}

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version and tags
        id: meta
        run: |
          SHA_TAG=${GITHUB_SHA::7}
          echo "sha_tag=$SHA_TAG" >> $GITHUB_OUTPUT
        shell: bash

      - name: LS
        run: ls -la

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.sha_tag }}
            ${{ env.IMAGE_NAME }}:latest

      - name: Trigger Dokploy Deployment
        run: |
          curl -X 'POST' \
          '${{ secrets.DOKPLOY_SERVER_URL }}/api/application.deploy' \
          -H 'accept: application/json' \
          -H 'x-api-key: ${{ secrets.DOKPLOY_API_KEY }}' \
          -H 'Content-Type: application/json' \
          -d '{
              "json":{
                  "applicationId": "${{ secrets.DOKPLOY_APP_ID }}"
              }
          }'
