name: Deployment
on:
  push:
    branches:
      - main
      - docker-go

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

permissions: "write-all"

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production
      IMAGE_NAME: ghcr.io/${{ github.repository }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version and tags
        id: meta
        run: |
          SHA_TAG=${GITHUB_SHA::7}
          echo "sha_tag=$SHA_TAG" >> $GITHUB_OUTPUT
        shell: bash

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./website/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.sha_tag }}
            ${{ env.IMAGE_NAME }}:latest

      - name: Trigger Deployment
        run: |
          curl -X 'POST' \
          'https://raulmelo.dev/api/application.deploy' \
          -H 'accept: application/json' \
          -H 'x-api-key: ${{ secrets.WEBSITE_DEPLOY_API_KEY }}' \
          -H 'Content-Type: application/json' \
          -d '{
            "applicationId": "${{ secrets.WEBSITE_DEPLOY_APP_ID }}"
          }'
