name: Lambdas Deployment

on:
  push:
    paths:
      - 'apps/lambdas/**'
      - '.github/workflows/lambdas.yml'

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Git files setup
        uses: actions/checkout@v3

      - name: Node Setup
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: pnpm/action-setup@v2.2.2
        name: Install pnpm
        with:
          version: 7
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Dependencies
        run: |
          pnpm install --global netlify-cli
          pnpm install --frozen-lockfile --shamefully-hoist

      - name: Build Projects
        run: pnpm --F lambdas... run build

      - name: Lint Projects
        run: pnpm --F lambdas run lint

      - name: Test Projects
        run: pnpm --F lambdas run test

      - name: Deploy
        run: pnpm --F lambdas run deploy
        if: contains('refs/heads/main', github.ref)
        env:
          NETLIFY_AUTH_TOKEN: ${{secrets.NETLIFY_AUTH_TOKEN}}
          NETLIFY_SITE_ID: ${{secrets.LAMBDAS_SITE_ID}}
