name: Packages

on:
  push:
    paths:
      - packages/**
      - config/**
      - .github/workflows/packages.yml
      - scripts/workspace/release.sh
      - package.json
      - commitlint.config.js

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - uses: pnpm/action-setup@v2.2.1
        with:
          version: latest
          run_install: |
            args: [--frozen-lockfile, --filter "{packages/**}..."]

      - name: Lint Projects
        run: pnpm -F "./packages/**" run lint

      - name: Test Projects
        run: pnpm -F "./packages/**" run test

      - name: Build Projects
        run: pnpm -F "./packages/**" run build
