name: Packages

on:
  push:
    paths:
      - 'packages/**'
      - 'config/**'
      - '.github/workflows/packages.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          # pulls all commits (needed for lerna / semantic release to correctly version)
          fetch-depth: '0'

      - name: Use Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install lerna and netlify
        run: yarn global add lerna netlify-cli

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1
        with:
          install-command: yarn --frozen-lockfile --silent

      - name: Lint Projects
        run: yarn lint --scope='{mdx-prism-2,@raulfdm/blog-components,@raulfdm/blog-tailwind-preset}'

      - name: Test Projects
        run: yarn test --scope='{mdx-prism-2,@raulfdm/blog-components,@raulfdm/blog-tailwind-preset}'

      - name: Build Projects
        run: yarn build --scope='{mdx-prism-2,@raulfdm/blog-components,@raulfdm/blog-tailwind-preset}'

      - name: Release Packages
        run: |
          echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} > .npmrc
          yarn release
        if: contains('refs/heads/main', github.ref)
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
