name: Website

on:
  push:
    paths:
      - 'apps/website/**'
      - 'scripts/**'
      - 'config/**'
      - '.github/workflows/website.yml'
      - .eslintignore
      - .eslintrc.js
      - package.json

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - uses: pnpm/action-setup@v2.2.1
        with:
          version: latest
          run_install: |
            args: [--frozen-lockfile, --filter, website...]

      - name: Build dependents packages
        run: pnpm --filter "website^..." run build

      - name: Lint Projects
        run: pnpm --filter website run lint

      - name: Test Projects
        run: pnpm --filter website run test
