name: Website

on:
  push:
    paths:
      - 'apps/website/**'
      - 'packages/**'
      - '.github/workflows/website.yml'

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Git files setup
        uses: actions/checkout@v3

      - name: Node Setup
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: pnpm/action-setup@v2.2.2
        name: Install pnpm
        with:
          version: 7
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Dependencies
        run: |
          pnpm install --frozen-lockfile --shamefully-hoist
          pnpm install --global vercel

      - name: Build dependent packages
        run: pnpm --filter "website^..." run build

      - name: Lint Projects
        run: pnpm --filter website run lint

      - name: Test Projects
        run: pnpm --filter website run test

      - name: Build application for Preview
        if: contains('refs/heads/main', github.ref) == false
        run: |
          vercel pull --yes --token=${VERCEL_API_TOKEN}
          vercel build
        working-directory: apps/website
        env:
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID_WEBSITE }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID_MAIN }}
          VERCEL_API_TOKEN: ${{ secrets.VERCEL_API_TOKEN }}

      - name: Vercel Deploy - Preview
        uses: amondnet/vercel-action@v20
        if: contains('refs/heads/main', github.ref) == false
        with:
          vercel-token: ${{ secrets.VERCEL_API_TOKEN }} # Required
          github-token: ${{ github.token }} #Optional
          vercel-args: --prebuilt
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID_MAIN}} #Required
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID_WEBSITE}} #Required
          working-directory: apps/website

      - name: Build application for Production
        if: contains('refs/heads/main', github.ref) == true
        run: |
          vercel pull --yes --token=${VERCEL_API_TOKEN}
          vercel build --prod
        working-directory: apps/website
        env:
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID_WEBSITE }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID_MAIN }}
          VERCEL_API_TOKEN: ${{ secrets.VERCEL_API_TOKEN }}

      - name: Vercel Deploy - Production
        uses: amondnet/vercel-action@v20
        if: contains('refs/heads/main', github.ref) == true
        with:
          vercel-token: ${{ secrets.VERCEL_API_TOKEN }} # Required
          github-token: ${{ github.token }} #Optional
          vercel-args: '--prebuilt --prod'
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID_MAIN}} #Required
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID_WEBSITE}} #Required
          working-directory: apps/website
